.scheduler {
  padding: 10%;
  max-width: min(900px, 90%);
  margin: 0 auto;

  .subscribed-list {
    margin-top: 100px;
    .numbers {
      padding: 0.25em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      p {
        background: rgb(230, 230, 251);
        padding: 1em;
        font-size: 1.3rem;
      }
    }
  }
  .schedule-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding-top: 20px;
    .btn-sub {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
      background: blue;
      color: white;
      cursor: pointer;
      border-radius: 1em;
      padding: 0.25em;
      transition: all 150ms ease;

      &:hover {
        scale: 1.1;
      }
      &:active {
        scale: 0.95;
      }
    }

    .input-field {
      display: flex;
      flex-direction: column;
      label {
        color: blue;
        font-size: 1.2rem;
        padding: 0.25em 0;
      }
      textarea {
        width: 100%;
        min-height: 200px;
        font-size: 1.2rem;
      }
      textarea,
      input {
        padding: 0.55em;
        border-radius: 0.5em;
        width: 100%;
        resize: none;
      }
    }
  }
  .active-sched {
    margin: 100px 0;
    .list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em 0;
      .schedule-list {
        &.succeeded {
          background: rgb(202, 243, 202);
        }
        background: rgb(206, 206, 250);
        gap: 1em;
        padding: 1em;

        .message {
          padding: 1em;
          background: white;
          margin: 1em 0;
        }
        .remove {
          background: red;
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1.5rem;
          padding: 0.2em;
          margin: 0.55em 0em;
        }
      }
    }
  }
}
